# Next.js build output
.next/
out/

# Cloudflare & OpenNext build output
.open-next/
.wrangler/

# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & local OS files
.env
.env*.local
.DS_Store
*.pem
